main.main-element

    h1.font-black.text-5xl mikołaj filapek
    h3.mt-2.font-light.text-1xl themixhelp

    h2.mt-4.font-normal.text-2xl beginner frontend-(no)dev

    span.custom-pos.left-0 @themixhelp, all rights reserved
    span.custom-pos.right-0 😺