doctype html
html(lang="en")
    head
        meta(charset="UTF-8")

        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        title Mikołaj Filapek - FrontEnd-(no)dev

        link(href="./tailwind.css" rel="stylesheet")

        // Fonts Import
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com')
        link(href='https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap' rel='stylesheet')

    body.m-0.p-0.bg-background.text-color.text-center.font-display

        main.w-screen.h-screen.flex.flex-col.justify-center.items-center

            h1.font-black.text-5xl mikołaj filapek
            h3.mt-2.font-light.text-1xl themixhelp

            h2.mt-4.font-regular.text-2xl beginner frontend-(no)dev

            span.fixed.left-0.bottom-0.m-2.opacity-50 @themixhelp, all rights reserved
            span.easter-egg.fixed.right-0.bottom-0.m-2.opacity-50 😺