doctype html
html(lang="en")
    head
        meta(charset="UTF-8")

        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        meta(name="description" content="themixhelp | beginner frontend-(no)dev")
        meta(name="keywords" content="mikołaj, themixhelp, frontend, programmer, it, technology")
        meta(name="author" content="themixhelp")

        title themixhelp - FrontEnd-(no)dev

        link(href="./tailwind.css" rel="stylesheet")
        link(href="https://cdn.discordapp.com/emojis/838891760972464178.png?v=1" rel="icon")

        style.
            *, *::before, *::after{
                box-sizing: border-box;
            }
            html{
                font-family: sans-serif;
            }

        // Fonts Import
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com")
        link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet")

    body.m-0.p-0.overflow-x-hidden.bg-background.text-color.text-center.font-display

        include includes/landing-page
        include includes/about-me